p {
  text-align: center;
  font-size: 15px;
}

.tools {
  display: flex;
  align-items: center;
  padding: 9px;
  cursor: pointer;
}

.circle {
  padding: 0 4px;
}

.box {
  display: inline-block;
  align-items: center;
  width: 10px;
  height: 10px;
  padding: 1px;
  border-radius: 50%;
}
.red {
  background-color: #ff605c;
}

.yellow {
  background-color: #ffbd44;
}

.green {
  background-color: #00ca4e;
}

.dailyChallenges {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  justify-content: space-around;
  overflow: hidden;
}

.challengesContainer {
  border: 0.5vmin solid #05060f;
  box-shadow: 0.4rem 0.4rem #05060f;
  border-radius: 20px;
  margin-bottom: 20px;
  background-color: #fff;
  width: 80%;
  height: 80%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.challengesContainerHeader {
  height: 10%;
  border-bottom: 0.5vmin solid #05060f;
  display: flex;
  justify-content: center;
  align-items: center;
}

.challengesContainerBody {
  flex-grow: 1;
  display: flex;
  padding: 1rem;
  flex-wrap: wrap;
  overflow: hidden;
  overflow-y: auto; 
}

.challenges {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
}

.challenge {
  flex-grow: 1; 
  flex-basis: calc(
    33.333% - 20px
  ); 
  margin: 10px; 
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.challenge:hover {
  background-color: #e7e7e7;
  cursor: pointer;
}

@media (max-width: 768px) {
  .challenge {
    flex-basis: calc(50% - 20px);
  }
}

@media (max-width: 480px) {
  .challenge {
    flex-basis: calc(100% - 20px);
  }
}

.challenge img {
  width: 50px;
  height: 50px;
  filter: grayscale(100%);
}

